body{
    margin: 0px;
    padding: 0px;
}
  
.menu{
    list-style-type: none;
    background-color: white;
    margin:0%;
    overflow: auto;
    display: flex;    
    position: fixed;
    width: 100%;
    background-color: blue;
}

.menu li a{
    text-decoration: none;
    color: black;
    justify-self: center;
}

.menu .btn{
    float:right;
    margin:0.2% 0% 0.2% 25%;
    position: relative;
    width: 5%;
    text-align: center;
    


}
.menu li{
    float: left;
    width: 7%;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    justify-self: center;
    justify-content: center;
}
.menu button:hover , li:hover , li:hover a{
    background-color: black;
    color: white;
}

#logo{
    width: 6%;
    height: 0.5%;
    padding: 10px 20px;
}


#slider{
    width: 100%;
    height:60%;
    margin:0%;
    position:static;
}

#slider-btn{
    position: relative;
    top: -10%;
    width: 10%;
    height: 8%;
    left: 1%;
}

.team {
    width: 100%;
    /* height: 90%; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    margin: 2% 0%;
    background-color: blueviolet;
    
  }
.mm_col{
    width: 23%;
    margin: 3% 1% ;
    text-align: center;
}
.member{
    text-align: center;
}
.mm_img{
    border-radius: 100%;
    width: 100%;
    height: 80%;
}

#gray{
    background-color: gray;
    width: 100%;
    /* height: 90%; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

#gray :first-child{

    background-color: transparent;
}

.in_gray{
    width: 23%;
    margin: 3% 1% ;
    background-color: aliceblue;
}

.in_gray h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-left: 3%;

}

.in_gray p{
    margin-left: 4%;
    line-height: 23px;

}

.in_gray .img{
    width: 100%;
    height: 50%;
}


#pls_btn{
    border-radius: 100%;
    background-color: tomato;
    width: 50px;
    height: 50px;
    position: relative;
    top: -5%;
    left:94%;
    box-sizing: content-box;
    padding: 0%;
    border:0% solid transparent;
}

#pls_btn:hover{
    background-color: white;
}
#pls_btn img{
    width: 50px;
    height: 50px;
    margin: 0%;
    border:0% solid transparent;
    
}

#pricing{
    background-color: red;
    width: 100%;
    /* height: 90%; */
    display: flex;
    flex-wrap: wrap;
    overflow: auto;

}


.in_price{
    width: 31%;
    margin: 0% 1% ;
    padding: 0%;
    height: 400px;
    /* background-color: transparent; */
}


.in_price table{
    width: 100%;
    text-align: center;
    margin: 0%;
    height: 100%;
    background: honeydew;   
    border: solid gray 3px;
}


#form{
    /* margin-top: 5%; */
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}


td button{
    width: 40%;
    height: 80%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    #logo{
        
        display: none;
    }

    .mm_col{
        width: 40%;
    }
/* 
    .in_gray{
        width: 99%;
    } */

    #pls_btn{
        display: none;
    }
}


@media screen and (max-width: 360px) {
    .menu {   
      flex-direction: column;
      position: fixed;
      justify-content: stretch;
      justify-items: stretch;
      
    }
    #logo{
        
        display: none;
    }

    .mm_col{
        width: 100%;
    }
    .in_gray{
        width: 99%;
}
#pls_btn{
    display: none;
}

.in_price{
    width: 98%;
}

}
