@font-face {
    font-family: "Android";
    src: url("DroidLogo-Bold.ttf");
}


body{
    margin:0px;

}

#main{

    background-color: white;
    width: 60%;
    height: 700;
    align-items: center;
    margin: auto;}


#left-anten{
    width: 6px;
    height: 60px;
    position: absolute;
    top: 66px;
    border-radius: 3px;
    left: 39%;
    transform: rotate(-30deg);
    background-color: chartreuse;
}


#right-anten{
    width: 6px;
    height: 60px;
    position: absolute;
    top: 66px;
    border-radius: 3px;
    left: 51%;
    transform: rotate(30deg);
    background-color: chartreuse;
}


#head{
    background-color: chartreuse;
    position: relative;
    width: 25%;
    height: 100px;
    border-top-left-radius: 300px;  
<<<<<<< HEAD
    border-top-right-radius: 300px; 
=======
    border-top-right-radius: 300px;
>>>>>>> 4ea858b5f1f6742b87d74c814f036490f369bbc6
    border: 0px solid gray;
    left:30%;
    top: 80px;
    display: flex;

}

#left-eye{
    background-color: white;
    width: 20px;
    border-radius: 100%;
    height: 20px;
    position: relative;
    left:20%;
    top: 36%;
}

#right-eye{
    background-color: white;
    width: 20px;
    border-radius: 100%;
    height: 20px;
    position: relative;
    left:60%;
    top: 36%;
}

#body{
    background-color: chartreuse;
    position: relative;
    width: 25%;
    top: 100px;
    left :30%;
    height: 200px;
    border-radius:0px 0px 20px 20px;
}

#left-hand{
    position: absolute;
    left:34%;
    top:200px;
    background-color: chartreuse;
    width: 3.5%;
    height: 160px;
    border-radius: 40px;
}

#right-hand{
    position: absolute;
    left:53.5%;
    top:200px;
    background-color: chartreuse;
    width: 3.5%;
    height: 160px;
    border-radius: 40px;
}

#right-leg{
    position: absolute;
    left:48%;
    top:400px;
    background-color: chartreuse;
    width: 50px;
    height: 100px;
    border-radius: 0px 0px 40px 40px;
}


#left-leg{
    position: absolute;
    left:40%;
    top:400px;
    background-color: chartreuse;
    width: 50px;
    height: 100px;
    border-radius: 0px 0px 40px 40px;
}

h2{
    position: absolute;
    top: 430px;
    left: 30%;
    font-family:"Android";
    font-size: 88px;
    color: rgb(90, 89, 89);
}
